# DATE TIME

In [1]:
import pandas as pd

In [2]:
date_of_birth={"date":["20-12-2020","22-12-2020 12:45:36"]}

In [3]:
my_data=pd.DataFrame(date_of_birth)

In [4]:
my_data

                  date
0           20-12-2020
1  22-12-2020 12:45:36

In [5]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2 non-null      object
dtypes: object(1)
memory usage: 144.0+ bytes

In [6]:
my_data["time"]=pd.to_datetime(my_data["date"])
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2 non-null      object
 1   time    2 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 160.0+ bytes

In [7]:
my_data

                  date                time
0           20-12-2020 2020-12-20 00:00:00
1  22-12-2020 12:45:36 2020-12-22 12:45:36

In [8]:
year_list=[]
for i in range(0,2):
    year=my_data["time"][i].year
    year_list.append(year)

In [9]:
year_list

[2020, 2020]

In [10]:
covid_data=pd.read_csv(r"C:\Users\venuk\OneDrive\Desktop\covid\day_wise.csv")

In [11]:
covid_data

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13
...,...,...,...,...,...,...,...,...,...,...,...,...
183,2020-07-23,15510481,633506,8710969,6166006,282756,9966,169714,4.08,56.16,7.27,187
184,2020-07-24,15791645,639650,8939705,6212290,281164,6144,228736,4.05,56.61,7.16,187
185,2020-07-25,16047190,644517,9158743,6243930,255545,4867,219038,4.02,57.07,7.04,187
186,2020-07-26,16251796,648621,9293464,6309711,204606,4104,134721,3.99,57.18,6.98,187
187,2020-07-27,16480485,654036,9468087,6358362,228693,5415,174623,3.97,57.45,6.91,187

In [12]:
covid_data["Date_1"]=pd.to_datetime(covid_data["Date"])

In [13]:
covid_data["Date_1"]

0     2020-01-22
1     2020-01-23
2     2020-01-24
3     2020-01-25
4     2020-01-26
         ...
183   2020-07-23
184   2020-07-24
185   2020-07-25
186   2020-07-26
187   2020-07-27
Name: Date_1, Length: 188, dtype: datetime64[ns]

In [14]:
month_list=[]
for i in range(0,188):
    year=covid_data["Date_1"][i].month
    month_list.append(year)

In [15]:
day_list=[]
for i in range(0,188):
    year=covid_data["Date_1"][i].day
    day_list.append(year)

In [16]:
len(month_list)

188

In [17]:
month_list[0:25]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [18]:
day_list[0:25]

[22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15]

In [19]:
year_data={"year1":["2000","10-1999"]}

In [20]:
year=pd.DataFrame(year_data)

In [21]:
year

     year1
0     2000
1  10-1999

In [22]:
year["update"]=pd.to_datetime(year["year1"])

In [23]:
year

     year1     update
0     2000 2000-01-01
1  10-1999 1999-10-01